<!DOCTYPE html>
<html lang="en" ng-app="turneroWebLoginApp">
    <head>
        <link rel="icon" type="image/png" href="css/assets/img/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>TurneroWeb | 2018</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/util.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <!--===============================================================================================-->
        <!--PARA FILTRO DE BUSQUEDA CON FECHA-->
        <script src="script/lib/moment.js" type="text/javascript"></script>

        <link href="css/pickList.css" rel="stylesheet" type="text/css"/>
        <script src="script/lib/angularjs.js" type="text/javascript"></script>

        <script src="script/lib/ui-bootstrap-0.11.0.js" type="text/javascript"></script>
        <!--<link href="css/estiloCombo.css" rel="stylesheet" type="text/css"/>-->
        <!--<link href="css/estilos.css" rel="stylesheet" type="text/css"/>-->


        <!--<link href="css/lib/sweet_alert/sweetalert.css" rel="stylesheet" type="text/css"/>-->
        <!--<link href="css/listBoxCss.css" rel="stylesheet" type="text/css"/>-->

        <!--<script src="script/lib/angular-ip-adress-validate.js" type="text/javascript"></script>-->
        <!--<link href="css/materialIcon.css" rel="stylesheet" type="text/css"/>-->
        <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!--<link href="css/paraTeclado/material-kit.css" rel="stylesheet" type="text/css"/>-->
        <!--<link href="css/paraTeclado/estiloTecladoNumerico.css" rel="stylesheet" type="text/css"/>-->

        <!--<link href="alertasJS/css/popupmodal.css" rel="stylesheet" type="text/css"/>-->
        <link href="alertasJS/mensajes/css-js/animate.css" rel="stylesheet" type="text/css"/>
        <!--<link href="alertasJS/mensajes/css-js/bird-alert-bulma.css" rel="stylesheet" type="text/css"/>-->
        <!--<link rel="stylesheet" type="text/css" href="styles/responsive.css">-->

        <link href="css/dist/overhang.min.css" rel="stylesheet" type="text/css"/>
        <script src="css/demo/js/jquery-1.12.0.min.js.js" type="text/javascript"></script>
        <script src="css/demo/js/jquery-ui.min.js" type="text/javascript"></script>
        <script src="css/dist/overhang.min.js" type="text/javascript"></script>
        <script src="css/demo/js/index.js" type="text/javascript"></script>
        <!--<link href="css/newStyleLogin.css" rel="stylesheet" type="text/css"/>-->
    </head>
    <body ng-controller="clienteCtrl" style="background-color: #475264;">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <!--<img src="css/img/logosiv.png" alt="User Icon" />-->
                        <img src="css/img/img-01.png" alt=""/>
                    </div>

                    <form class="login100-form validate-form">
                        <span class="login100-form-title">
                            Iniciar Compra
                        </span>

                        <div class="wrap-input100 validate-input" data-validate = "El campo número de CI no debe quedar vacío">
                            <input class="input100" type="text" id="ciCliente" ng-model="val" ng-keypress="ingresarEnter($event)" numbers-only name="login" placeholder="Ingrese su número de C.I.">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-address-card"  aria-hidden="true"></i>
                            </span>
                        </div>
                        <div style="display: none" id="nomCliente" class="wrap-input100 validate-input" data-validate = "El campo Nombre no debe quedar vacío">
                            <input type="text" id="nombreCliente" class="input100" name="login" placeholder="Ingrese su Nombre">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div style="display: none" id="apeCliente" class="wrap-input100 validate-input" data-validate = "El campo Apellido no debe quedar vacío">
                            <input  class="input100" type="text" id="apellidoCliente" ng-keypress="registrarEnter($event)"  name="login" placeholder="Ingrese su Apellido">
                            <span class="focus-input100"></span>
                            <span class="symbol-input100">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </span>
                        </div>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" id="btnIngresar" ng-click="ingresar()">
                                Ingresar
                            </button>
                        </div>
                        <div style="display: none" id="btnRegistrar" class="container-login100-form-btn">
                            <button class="login100-form-btn" id="cliRegistrar"  ng-click="registrarCli()">
                                Registrar
                            </button>
                        </div>

                        <div style="display: none" id="btnAtras" class="text-center p-t-12">
                            <a class="txt2" href="#" id="botonAtras"  ng-click="atrasLogin()">
                                <!--                                Username / Password?-->
                                Atrás
                            </a>
                        </div>
                        <div class="text-center p-t-12">
                            <br><br>
                            <br>
                            <span class="txt1">
                                <!--Forgot-->
                                Create by © DHsoft - Versión <span id="version"></span> <script>//document.write(new Date().getFullYear());</script>.    
                            </span>
                        </div>

                        <!--                        <div class="text-center p-t-136">
                                                    <a class="txt2" href="#">
                                                        Create your Account
                                                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                                                    </a>
                                                </div>-->
                    </form>
                </div>
            </div>
        </div>
        <script src="script/lib/base64.js" type="text/javascript"></script>
        <script src="alertasJS/js/popupmodal-min.js" type="text/javascript"></script>
        <script src="alertasJS/mensajes/css-js/bird-alert.js" type="text/javascript"></script>

        <script src="css/assets/js/core/popper.min.js"></script>
        <script src="css/assets/js/core/bootstrap-material-design.min.js"></script>
        <script src="css/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!-- Plugin for the momentJs  -->
        <script src="css/assets/js/plugins/moment.min.js"></script>
        <!--  Plugin for Sweet Alert -->
        <script src="css/assets/js/plugins/sweetalert2.js"></script>
        <!-- Forms Validations Plugin -->
        <script src="css/assets/js/plugins/jquery.validate.min.js"></script>
        <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
        <script src="css/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
        <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
        <script src="css/assets/js/plugins/bootstrap-selectpicker.js"></script>
        <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
        <script src="css/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
        <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
        <script src="css/assets/js/plugins/jquery.dataTables.min.js"></script>
        <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
        <script src="css/assets/js/plugins/bootstrap-tagsinput.js"></script>
        <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
        <script src="css/assets/js/plugins/jasny-bootstrap.min.js"></script>
        <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
        <script src="css/assets/js/plugins/fullcalendar.min.js"></script>
        <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
        <script src="css/assets/js/plugins/jquery-jvectormap.js"></script>
        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="css/assets/js/plugins/nouislider.min.js"></script>
        <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>-->
        <!-- Library for adding dinamically elements -->
        <script src="css/assets/js/plugins/arrive.min.js"></script>
        <!--  Google Maps Plugin    -->
        <!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
        <!-- Chartist JS -->
        <script src="css/assets/js/plugins/chartist.min.js"></script>
        <!--  Notifications Plugin    -->
        <script src="css/assets/js/plugins/bootstrap-notify.js"></script>
        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="css/assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
        <!-- Material Dashboard DEMO methods, don't include it in your project! -->
        <script src="css/assets/demo/demo.js"></script>

        <!--TO SERVER-->
        <script src="script/lib/bootstrap.min.js" type="text/javascript"></script>
        <!--<script src="script/pickList.js" type="text/javascript"></script>-->
        <script src="script/lib/sweetalert-dev.js" type="text/javascript"></script>

        <!--CHART-->  
        <!--<script src = "https://cdn.zingchart.com/zingchart.min.js" ></script>-->  
        <script src="js/zingchart.min.js" type="text/javascript"></script>
        <script src="js/zingchart-angularjs.js" type="text/javascript"></script>
        <!--<script src = "https://cdn.zingchart.com/angular/zingchart-angularjs.js" ></script>-->  
        <!--FIN CHART-->

        <script src="script/lib/customSelect.js" type="text/javascript"></script>

        <script src="script/lib/angular-route.js" type="text/javascript"></script>
        <script src="script/lib/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="script/lib/ngCookies.js" type="text/javascript"></script>

        <script src="script/app_login.js" type="text/javascript"></script>

        <script src="script/controller/menu-controller.js" type="text/javascript"></script>
        <script src="script/service/retiro_pedido-service.js" type="text/javascript"></script>
        <script src="script/service/cliente-service.js" type="text/javascript"></script>
        <script src="script/service/cliente_pendiente-service.js" type="text/javascript"></script>
        <script src="script/service/publicidad-service.js" type="text/javascript"></script>
        <script src="script/service/modo_venta-service.js" type="text/javascript"></script>
        <!--===============================================================================================-->	
        <!--<script src="css/fonts/vendor/jquery/jquery-3.2.1.min.js"></script>-->
        <!--===============================================================================================-->
        <script src="css/fonts/vendor/bootstrap/js/popper.js"></script>
        <script src="css/fonts/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <!--<script src="vendor/select2/select2.min.js"></script>-->
        <!--===============================================================================================-->
        <script src="css/fonts/vendor/tilt/tilt.jquery.min.js"></script>
        <script >
                                            $('.js-tilt').tilt({
                                                scale: 1.1
                                            });
                                            $(document).ready(function () {
                                    detectarDispositivo();
                                    $('.num').click(function () {
                                        var num = $(this);
                                        var text = $.trim(num.find('.txt').clone().children().remove().end().text());
                                        var ciCliente = $('#ciCliente');
                                        if (text.toUpperCase() === "CL") {
                                            $(ciCliente).val("");
                                        } else {
                                            $(ciCliente).val(ciCliente.val() + text);
                                        }
                                    });
//                                    $("#ciCliente").focus();
                                });
                                function numeros(string) {//Solo numeros
                                    var out = '';
                                    var filtro = '1234567890';//Caracteres validos

                                    //Recorrer el texto y verificar si el caracter se encuentra en la lista de validos 
                                    for (var i = 0; i < string.length; i++)
                                        if (filtro.indexOf(string.charAt(i)) != -1)
                                            //Se añaden a la salida los caracteres validos
                                            out += string.charAt(i);

                                    //Retornar valor filtrado
                                    return out;
                                }
                                function detectarDispositivo() {
                                    if (navigator.userAgent.match(/Android/i)
                                            || navigator.userAgent.match(/webOS/i)
                                            || navigator.userAgent.match(/iPhone/i)
                                            || navigator.userAgent.match(/iPad/i)
                                            || navigator.userAgent.match(/iPod/i)
                                            || navigator.userAgent.match(/BlackBerry/i)
                                            || navigator.userAgent.match(/Windows Phone/i)
                                            ) {
//                        $("#tecladoNumerico").fadeOut("fast");
                                    } else {
//                        $("#tecladoNumerico").fadeIn("fast");
                                    }
                                }
        </script>
        <!--===============================================================================================-->
        <!--<script src="js/main.js"></script>-->
        <script src="css/fonts/vendor/js/main.js" type="text/javascript"></script>

    </body>
</html>