.button{
    -fx-background-color: linear-gradient(#F2F2F2,#BDBDBD);
    /*-fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);*/
    -fx-background-radius: 12 12 12 12;
    -fx-border-color:  darkgray;
    -fx-border-radius: 12 12 12 12;
    -fx-smooth: true;
}

.background {
    -fx-background-color: red;
}

.button-fx-dialog{
    -fx-background-color: silver;
    -fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);
    -fx-background-radius: 12 12 12 12;
    -fx-border-color:  black;
    -fx-border-radius: 12 12 12 12;
    -fx-smooth: true;
    /*-fx-font: message-box;*/
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.calendar{
    -fx-background-color: linear-gradient(#F2F2F2,#BDBDBD);
    /*-fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);*/
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: #606060;
    -fx-border-radius: 10 10 10 10;
    -fx-smooth: true;
}

.combo-box{
    -fx-background-color: linear-gradient(#F2F2F2,#BDBDBD);
    /*-fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);*/
    -fx-border-color: #606060;
    /*-fx-border-radius: 7 7 7 7;*/
    /*-fx-border-insets: 2 2 2 2 ;*/
    -fx-smooth: true;
}

.combo-box:hover{
    -fx-background-color: whitesmoke;
    -fx-font-weight: bold;
}

.button:hover{
    -fx-background-color: whitesmoke;
    -fx-font-weight: bold;
}

.label {    
    /*-fx-effect: dropshadow(two-pass-box , darkgray, 10, 0.0 , 4, 5);*/
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.label:hover{
    -fx-border-color: steelblue;
}

/*.text-input {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-border-color: mediumseagreen;
    -fx-border-radius: 7 7 7 7;
    -fx-border-insets: 2 2 2 2 ;
    -fx-smooth: true;
}*/

.myDialogInformation{
    /*-fx-background-color: #ffffff;*/
    -fx-background-color: #C3C3AA;
}
.myDialog > *.button-bar > *.container{
    /*-fx-background-color: #C3C3AA;*/
    -fx-background-color:  #39aedd;
}
.myDialogInformation > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
/*.myDialog:header *.header-panel{
    -fx-background-color: #a59c31;
}*/
.myDialogInformation:header *.header-panel *.label{
    -fx-font-size: 16px;
    /*-fx-font-weight: bold;*/
    /*-fx-fill: #292929;*/
}
.tooltip{
    -fx-border-radius: 7 7 7 7;
    -fx-border-insets: 2 2 2 2 ;
    -fx-smooth: true;
}
/*bar chart*/
.chart-bar {
    -fx-background-color: rgba(0,168,355,0.05);
    -fx-border-color: rgba(0,168,355,0.3) rgba(0,168,355,0.3) 
        transparent rgba(0,168,355,0.3);
    -fx-background-radius: 0;
    -fx-background-position: left center;
}
.data0.chart-bar {
    -fx-background-color:  red;
    -fx-border-color:  #39aedd;
}
/*.data1.chart-bar {
    -fx-background-color:  #25cd16;
}*/
.data1.chart-bar {
    -fx-background-image:  url("../vista/img/Coins-icon.png"); 
    -fx-border-color:  #39aedd;
}
.data2.chart-bar {
    -fx-background-color:  blue;
    -fx-border-color:  #39aedd;
}

/*.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #39aedd;
}*/

.table-view .column-header .label{
    -fx-alignment:center-left
}
/*.table-view .column-header .label:hover{
    -fx-background-color: red;
}
*/
/*.table-row-cell:selected {
    -fx-background-color: red; -fx-selection-bar: red; -fx-fill: black; -fx-table-cell-border-color: red;
    -fx-background-color: red; 
    -fx-fill: black;
    -fx-background-color: red;
    -fx-accent: red;
    -fx-focus-color: red;
        -fx-background-color: #0096C9;
        -fx-accent: #0096C9;
        -fx-focus-color: #039ED3;
    -selected-color:red;
    -fx-selection-bar: red;
}*/
.table-row-cell:selected {
    -fx-background-color: white; 
    -fx-text-background-color:#088A08;
    -fx-font-size: 14px;
}
/*.table-row-cell:selected .text {
    -fx-fill: black;
}

.table-view .table-row-cell:selected {
    -fx-control-inner-background: linear-gradient(#007F0E 0%, #FFFFFF 90%, #eaeaea 90%);
    -fx-control-inner-background-alt: linear-gradient(#007F0E 0%, #FFFFFF 90%, #eaeaea 90%);
}
/*bar chart*/